<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImagePickerExperiment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>393BC08C1D4326D500F7E3EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>393BC0A01D4326D600F7E3EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>393BC0AB1D4326D600F7E3EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
